@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@mixin akrobat-regular {
	font-family: 'akrobatregular';
}

@mixin akrobat-black {
	font-family: 'akrobatblack';
}

@mixin akrobat-bold {
	font-family: 'akrobatbold';
}

@mixin akrobat-semi {
	font-family: 'akrobatsemibold';
}

@mixin norwester {
	font-family: 'norwesterregular';
}

@mixin noto {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  font-style: normal;
}

@mixin noto-sans {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin noto-sans-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}
