@font-face {
  font-family: 'akrobatblack';
  src: url('~/assets/fonts/akrobat-black-webfont.woff2') format('woff2'),
       url('~/assets/fonts/akrobat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akrobatbold';
  src: url('~/assets/fonts/akrobat-bold-webfont.woff2') format('woff2'),
       url('~/assets/fonts/akrobat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akrobatregular';
  src: url('~/assets/fonts/akrobat-regular-webfont.woff2') format('woff2'),
       url('~/assets/fonts/akrobat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akrobatsemibold';
  src: url('~/assets/fonts/akrobat-semibold-webfont.woff2') format('woff2'),
       url('~/assets/fonts/akrobat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'norwesterregular';
  src: url('~/assets/fonts/norwester-webfont.woff2') format('woff2'),
       url('~/assets/fonts/norwester-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
