@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@mixin akrobat-regular {
	font-family: 'akrobatregular';
}

@mixin akrobat-black {
	font-family: 'akrobatblack';
}

@mixin akrobat-bold {
	font-family: 'akrobatbold';
}

@mixin akrobat-semi {
	font-family: 'akrobatsemibold';
}

@mixin norwester {
	font-family: 'norwesterregular';
}

@mixin noto {
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  font-style: normal;
}

@mixin noto-sans {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin noto-sans-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
