@use '../helpers/vars' as vars;
@use '../helpers/mixins' as mixins;
.category {
  &-item {
    position: relative;

    img {
      width: 100%;
    }

    &.-video {
      padding-top: 56.25%;
      position: relative;

      iframe {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &-caption {
      position: relative;
      background-color: rgba(vars.$fill-black, 0.8);
      padding: mixins.pxem(25) mixins.pxem(15);
      width: 100%;

      @include mixins.mq($from: vars.$breakpoint-small) {
        padding: mixins.pxem(25) mixins.pxem(10) mixins.pxem(15) mixins.pxem(10);
        background-color: transparent;
        position: absolute;
        bottom: 0;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.53) 40%, #000000 100%);;
      }
    }
  }
}
