.category {
  &-item {
    img {
      width: 100%;
    }

    &-caption {
      bottom: 0;
      background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.53) 40%, #000000 100%);;
      padding: pxem(25) pxem(15);

      @include mq($breakpoint-small) {
        padding: pxem(25) pxem(10) pxem(15) pxem(10);
      }
    }
  }
}
