.nav {
  width: 100vw;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  &.nav-open {
    overflow-y: hidden;
    position: fixed;

    @include mq($from: $breakpoint-medium) {
      position: relative;
    }
  }
}
