@use '../helpers/vars' as vars;
@use '../helpers/mixins' as mixins;

.nav-overlay {
  position: fixed;
  background-position: center center;
  background-image: url('~/assets/images/nav-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: mixins.pxem(125);
  transform: translateX(0);
  z-index: 400;

  @include mixins.mq($from: vars.$breakpoint-small) {
    padding-top: mixins.pxem(180);
  }

  &-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &-text {
    p { margin-bottom: 15px;}

    // img {
    //   margin: 30px 0 0 0;
    // }
  }

  .grid {
    z-index: 1;

    // @include mq($to: $breakpoint-small) {
      height: 100%;
      margin-bottom: 30px;
      overflow-y: auto;
    // }
  }
}
