@use "../helpers/vars" as vars;

// Text Colors
// -------------------------

.text-white { color: vars.$text-white; }
.text-black { color: vars.$text-black; }
.text-dark { color: vars.$text-dark; }

// Fill Colors
// --------------------------
.fill-white { background-color: vars.$fill-white; }
.fill-black { background-color: vars.$fill-black; }
