// Text Colors
// -------------------------

.text-white { color: $text-white; }
.text-black { color: $text-black; }
.text-dark { color: $text-dark; }

// Fill Colors
// --------------------------
.fill-white { background-color: $fill-white; }
.fill-black { background-color: $fill-black; }
