@use '../helpers/mixins' as mixins;
// Spacing Classes
// --------------------------------------------------

// Margin bottom
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &mb-#{$i} {
      margin-bottom: ($i)+px;
    }
  }
}

// Negative margin bottom
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &nmb-#{$i} {
      margin-bottom: -($i)+px;
    }
  }
}

// Margin top
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &mt-#{$i} {
      margin-top: ($i)+px;
    }
  }
}

// Negative margin top
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &nmt-#{$i} {
      margin-top: -($i)+px;
    }
  }
}

// Margin right
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &mr-#{$i} {
      margin-right: ($i)+px;
    }
  }
}

// Margin left
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &ml-#{$i} {
      margin-left: ($i)+px;
    }
  }
}

// Padding bottom
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &pb-#{$i} {
      padding-bottom: ($i)+px;
    }
  }
}

// Padding top
@include mixins.generate-breakpoint-prefixes {
  @for $i from 1 through 60 {
    $i: $i * 5;
    &pt-#{$i} {
      padding-top: ($i)+px;
    }
  }
}

// Padding left
@include mixins.generate-breakpoint-prefixes {
  @for $i from 0 through 60 {
    $i: $i * 5;
    &pl-#{$i} {
      padding-left: ($i)+px;
    }
  }
}

// Padding right
@include mixins.generate-breakpoint-prefixes {
  @for $i from 0 through 60 {
    $i: $i * 5;
    &pr-#{$i} {
      padding-right: ($i)+px;
    }
  }
}
