@use 'sass:color';

@use "../helpers/mixins" as mixins;
@use "../helpers/vars" as vars;
@use "../helpers/text-helpers" as text;
@use "../helpers/fluid-type" as type;
// Typography base text & title classes
// ------------------------------------

.title {

  &-1 {
    $map: (576px: 62px, 992px: 90px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'norwesterregular';
      line-height: 1.2;
    }
  }

  &-2 {
    $map: (576px: 30px, 992px: 40px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'norwesterregular';
      line-height: 1;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }

  &-3 {
    $map: (576px: 25px, 992px: 30px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'norwesterregular';
      line-height: 1;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }

  &-4 {
    $map: (576px: 20px, 992px: 26px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'akrobatbold';
      line-height: 1.23;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }

  &-5 {
    $map: (576px: 40px, 992px: 60px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'akrobatblack';
      line-height: 1;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }

  &-6 {
    $map: (576px: 40px, 992px: 80px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'akrobatblack';
      line-height: 1;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }
}

.text {
  &-36 {
    $map: (576px: 26px, 992px: 36px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'norwesterregular';
      line-height: 1;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }

  &-25 {
    $map: (576px: 20px, 768px: 25px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'akrobatsemibold';
      line-height: 1.23;
      font-weight: vars.$regular;
      letter-spacing: 1px;
    }
  }

  &-18 {
    $map: (576px: 16px, 768px: 18px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      line-height: 1.3;
    }

    a {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 700;
      transition: color 240ms vars.$t-1;
      color: vars.$text-white;
      text-decoration: none;
      @include text.pretty-text-underline-dark(vars.$text-white, 1);

      &:hover {
        color: color.adjust(vars.$text-white, $lightness: -15%);
      }
    }
  }

  &-16 {
    $map: (576px: 12px, 768px: 16px);
    @include mixins.font-smoothing;
    @include type.poly-fluid-sizing('font-size', $map);

    & {
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}

// Link Styles
// -------------------------

.link {

  &-title {
    transition: color 240ms vars.$t-1;
    &:hover {
      color: color.adjust(vars.$text-dark, $lightness: 20%);
    }
  }

  &-underline {
    transition: color 240ms vars.$t-1;
    text-decoration: none;
    @include text.pretty-text-underline(vars.$text-dark, 1);

    &:hover {
      color: color.adjust(vars.$text-dark, $lightness: 20%);
    }
  }

  &-underline-light {
    transition: color 240ms vars.$t-1;
    text-decoration: none;
    @include text.pretty-text-underline(vars.$text-white, 1);

    &:hover {
      color: color.adjust(vars.$text-white, $lightness: -15%);
    }
  }

  // &-footer {
  //   color: vars.$text-white;

  //   &:hover,
  //   &:focus {
  //     color: darken(vars.$text-white, 15%);
  //   }
  // }

  // &-nav {
  //   text-decoration: none;
  //   position: relative;
  //   padding: pxem(5) pxem(10) pxem(10) pxem(10);

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 45%;
  //     transform: translateX(-45%);
  //     width: pxem(30);
  //     height: pxem(5);
  //     background-color: vars.$fill-pink;
  //     opacity: 0;
  //     transition: opacity 240ms vars.$t-1;
  //   }
  // }

  // &-mobile-nav {
  //   text-decoration: none;
  //   position: relative;
  //   padding: pxem(10) 0;
  // }
}

// Typography Emphasis and Styling
// -------------------------
.regular,
.normal {
  font-weight: vars.$regular;
}

.bold {
  font-weight: vars.$bold;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}
.decoration-underline {
  text-decoration: underline;
}
.decoration-line-through {
  text-decoration: line-through;
}

// Typography Alignment
// -------------------------
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

// List styles
// -------------------------
// Unstyled keeps list items block level,
// just removes default browser padding and list-style

.list-unstyled {
  margin-left:  0;
  padding-left: 0;
  list-style:   none;
}

.list-flex {
  display: flex;
}
