// Typography base text & title classes
// ------------------------------------

.title {

  &-1 {
    @include font-smoothing;
    @include norwester;
    $map: (576px: 62px, 992px: 90px);
    line-height: 1.2;
    @include poly-fluid-sizing('font-size', $map);
  }

  &-2 {
    @include font-smoothing;
    @include norwester;
    $map: (576px: 30px, 992px: 40px);
    line-height: 1;
    @include poly-fluid-sizing('font-size', $map);
    font-weight: $regular;
    letter-spacing: 1px;
  }

  &-3 {
    @include font-smoothing;
    @include norwester;
    $map: (576px: 25px, 992px: 30px);
    line-height: 1;
    @include poly-fluid-sizing('font-size', $map);
    font-weight: $regular;
    letter-spacing: 1px;
  }

  &-4 {
    @include font-smoothing;
    @include akrobat-bold;
    $map: (576px: 20px, 992px: 26px);
    line-height: 1.23;
    @include poly-fluid-sizing('font-size', $map);
    font-weight: $regular;
    letter-spacing: 1px;
  }

  &-5 {
  }

  &-6 {
  }
}

.text {
  // &-22 {
  //   @include font-smoothing;
  //   font-family: $serif;
  //   $map: (576px: 19px, 768px: 22px);
  //   line-height: 1.55;
  //   @include poly-fluid-sizing('font-size', $map);
  //   font-weight: $regular;

  //   a {
  //     color: $text-aqua;
  //     text-decoration: none;
  //     @include pretty-text-underline($text-aqua, 1);
  //     transition: color 240ms $t-1;

  //     &:hover,
  //     &:focus {
  //       color: darken($text-aqua, 15%);
  //       transition: color 240ms $t-1;
  //     }
  //   }
  // }

  // &-20 {
  //   @include font-smoothing;
  //   font-family: $serif;
  //   $map: (576px: 19px, 768px: 20px);
  //   line-height: 1.4;
  //   @include poly-fluid-sizing('font-size', $map);
  //   font-weight: $regular;

  //   a {
  //     color: $text-aqua;
  //     text-decoration: none;
  //     @include pretty-text-underline($text-aqua, 1);
  //     transition: color 240ms $t-1;

  //     &:hover,
  //     &:focus {
  //       color: darken($text-aqua, 15%);
  //       transition: color 240ms $t-1;
  //     }
  //   }
  // }
}

// Link Styles
// -------------------------

.link {

  // &-paragraph {
  //   color: $text-green-dark;
  //   @include pretty-text-underline($text-green-dark, 1);

  //   &:hover,
  //   &:focus {
  //     color: darken($text-green-dark, 20%);
  //   }
  // }

  &-underline {
    @include pretty-text-underline($text-dark, 1);
  }

  // &-footer {
  //   color: $text-white;

  //   &:hover,
  //   &:focus {
  //     color: darken($text-white, 15%);
  //   }
  // }

  // &-nav {
  //   text-decoration: none;
  //   position: relative;
  //   padding: pxem(5) pxem(10) pxem(10) pxem(10);

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 45%;
  //     transform: translateX(-45%);
  //     width: pxem(30);
  //     height: pxem(5);
  //     background-color: $fill-pink;
  //     opacity: 0;
  //     transition: opacity 240ms $t-1;
  //   }
  // }

  // &-mobile-nav {
  //   text-decoration: none;
  //   position: relative;
  //   padding: pxem(10) 0;
  // }
}

// Typography Emphasis and Styling
// -------------------------
.regular,
.normal {
  font-weight: $regular;
}

.bold {
  font-weight: $bold;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}
.decoration-underline {
  text-decoration: underline;
}
.decoration-line-through {
  text-decoration: line-through;
}

// Typography Alignment
// -------------------------
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

// List styles
// -------------------------
// Unstyled keeps list items block level,
// just removes default browser padding and list-style

.list-unstyled {
  margin-left:  0;
  padding-left: 0;
  list-style:   none;
}

.list-flex {
  display: flex;
}
